    html body{
      background-color: #5b433a;
      overflow-y: scroll;
      overflow-x: hidden;
    }
    #bgcolor{
      background-color: #5b433a;
      background: url(../app/imgs/background.jpg) no-repeat center center fixed;
      background-size: cover;
    }
