<div class="container">
  <div class="jumbotron">
    <h1 style="text-align:center;">Iniciar sesión</h1>
  </div>
</div>
<div class="container">
  <div class="jumbotron">
    &nbsp;
    <form class="form-horizontal">
      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="form-group form-group-lg">
        <label class="col-sm-2 control-label">Contraseña</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="Contraseña">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <a href="/#/registrarse">
            <p style="text-align: center;">Aún no estas registrado ?</p>
          </a>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success btn-lg btn-block">Iniciar sesión</button>
        </div>
      </div>
    </form>
  </div>
</div>
