<style>
  h1, h2, h3, p{
    text-align:center;
  }
  .item .content a{
    /*display: block;*/
    width: 318px;
  }
  .item .content a img {
    height: 179px;
    width: 318px;
  }
</style>

<!-- <h2 style="text-align">Welcome!</h2> -->
<div class="container" style=" padding-top: 100px; padding-bottom: 50px;">
  <div class="jumbotron">
    <h1>Le Gourmet</h1>
    <p>Restaurante Francés</p>
  </div>
</div>
  <div class="row row-centered">
    <div class="col-md-3 col-centered">
      <div class="item">
        <div class="content">
          <a href="/#/clientes" >
            <img src="app\imgs\client.jpg" alt="Clientes" class="img-circle img-responsive center-block">
          </a>
          <h3><kbd>Clientes</kbd></h3>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-centered">
      <div class="item">
          <div class="content">
            <a href="/#/menu">
              <img src="app\imgs\menu.jpg" alt="Menú" class="img-circle img-responsive center-block">
            </a>
            <h3><kbd>Menú</kbd></h3>
          </div>
      </div>
    </div>
    <div class="col-md-3 col-centered">
      <div class="item">
          <div class="content">
            <a href="/#/registrarse" >
              <img src="app\imgs\newclient.jpg" alt="Nuevos clientes" class="img-circle img-responsive center-block">
            </a>
            <h3><kbd>Nuevos Usuarios</kbd></h3>
          </div>
      </div>
    </div>
  </div>
