<style>
  .item #boton{
    padding-top: 220%;
  }
  .item .content img{
    height: 220px;
    width: 390px;
  }
  .content h3{
    text-align:center;
  }
</style>
<div class="container">
  <div class="jumbotron">
    <h1 style="text-align:center;">Menú</h1>
  </div>
</div>

<div class="container">
  <div class="jumbotron">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <td>
            <div class="col-md-8 col-centered">
              <div class="item">
                <div class="content" id="boton">
                  <a href="#">
                    <button type="button" class="btn btn-default btn-lg">Arma tu propio platillo</button>
                  </a>
                </div>
              </div>
            </div>
          </td>
          <td>
            <!-- ... -->
          </td>
          <td>
            <div class="col-md-5 col-centered">
              <div class="item">
                <div class="content">
                  <a href="#">
                    <img src="app\imgs\aligot.jpg" alt="aligot" class="img-circle img-responsive center-block"/>
                  </a>
                  <h3>
                    <span class="label label-default">
                      Aligot
                    </span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-centered">
              <div class="item">
                <div class="content">
                  <a href="#">
                    <img src="app\imgs\cassoulet.jpg" alt="cassoulet" class="img-circle img-responsive center-block"/>
                  </a>
                  <h3>
                    <span class="label label-default">Cassoulet</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-centered">
              <div class="item">
                <div class="content">
                  <a href="#">
                    <img src="app\imgs\quenelle.jpg" alt="quenelle" class="img-circle img-responsive center-block"/>
                  </a>
                  <h3>
                    <span class="label label-default">Quenelle</span>
                  </h3>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-centered">
              <div class="item">
                <div class="content">
                  <a href="#">
                    <img src="app\imgs\ratatouille.jpg" alt="ratatouille" class="img-circle img-responsive center-block"/>
                  </a>
                  <h3>
                    <span class="label label-default">Ratatouille</span>
                  </h3>
                </div>
              </div>
            </div>
          </td>
        </tbody>
      </table>
    </div>
    <!-- <div class="row">
      <div class="col-md-4 col-centered">
        <div class="item">
          <div class="content">

          </div>
        </div>
      </div>
      <div class="col-md-4 col-centered">
        <div class="item">
          <div class="content">

          </div>
        </div>
      </div>
      <div class="col-md-4 col-centered">
        <div class="item">
          <div class="content">

          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
