<div class="container">
  <div class="jumbotron">
    <h1 style="text-align:center;">Registro</h1>
  </div>
</div>

<div class="container">
  <div class="jumbotron">

    &nbsp;
    <form class="form-horizontal">

      <div class="form-group">
        <label class="col-sm-2 control-label">Nombre:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Apellidos</label>
        <div class="col-sm-10">
          <input type="text" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" placeholder="Email">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Contraseña:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="Contraseña">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Verificar contraseña:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" placeholder="Verificar contraseña">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success btn-lg btn-block">Registro</button>
        </div>
      </div>

    </form>

  </div>
</div>
